
.repository-card{
    width: 300px;
    height: 200px;
    padding: 0.5rem 1rem;
    background: white;
    border-radius: 8px;
    border-style:double;
    border-width: 1px;
    position: relative;
}

.repository-name-container{
    display:flex;
    align-items: center;
    gap: 0.5rem;
}

.repository-avatar{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}

.repository-info{
    height: 150px;
}

.repository-stats{
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 6px;
}

.repository-img{
    height: 1rem;
    width: 1rem;
}

.repository-stat-container{
    display: flex;
    align-items: center;
    gap: 2px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

.repository-description {
    overflow: hidden; /* Prevent the text from overflowing */
    text-overflow: ellipsis; /* Add "..." if the text exceeds the container */
    display: -webkit-box; /* Enable line clamping */
    -webkit-line-clamp: 3; /* Limit to 3 lines (adjust as needed) */
    -webkit-box-orient: vertical; /* Ensure vertical text overflow handling */
    word-wrap: break-word; /* Break long words to prevent overflow */
}

  